body {
    font-family: "Courier New", Courier, monospace;
    font-size: .75em;
}
header {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 1.1em;
    border-top: 2px dashed yellow;
    border-bottom: 1px dashed yellow;
}
input[type=text] {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background-color: white;
    font-size: 1.2em;
}
input[type=submit] {
    width: 200px;
    font-size: 2em;
}
#calculette {
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 2px;
}
.zone-entree {
    background-color: #7e95f8;
    padding: 8px;
    margin: 8px;
    text-align: center;
    border-radius: 8px;
}
.choix-operateurs {
    text-align: left;
}
.zone-sortie {
    background-color: #7e95f8;
    color: #FFFFFF;
    padding: 4px;
    margin: 2px;
    font-size: 1.1em;
}